{{ define "main" }}
<main class="post">
    <header class="post__header">
        <h6 class="post__subheadline">{{ $.Params.Subheadline }}</h6>
        <h1 class="post__title">{{ .Title }}</h1>
        {{ if .Description }}
        <p class="post__subtitle">{{ .Description }}</p>
        {{ end }}
        {{ if ne .Type "page" }}
        {{ if and $.Site.Params.posts.showDate $.Site.Params.posts.showAuthor }}
        <p class="post__date date">
            {{ dateFormat $.Site.Params.posts.dateFormat .Date }} by {{ $.Params.author }}.
        </p>
        {{ else if $.Site.Params.posts.showDate }}
        <p class="post__date date">{{ dateFormat $.Site.Params.posts.dateFormat .Date }}</p>
        {{ else if $.Site.Params.posts.showAuthor }}
        <p class="post__author author">by {{ $.Params.author }}.</p>
        {{ end }}
        {{ end }}
    </header>

    <article class="post__body" style="margin-bottom: 3rem;">
        <div>
            <section style="overflow: auto">
                <aside>
                    <figure style="float: left; padding: 10px 20px;">
                        <img src="{{ $.Site.BaseURL }}/images/{{ $.Params.Image }}" width="300">
                    </figure>
                </aside>
                {{ .Content }}
            </section>
        </div>
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell large-6">
                <section>
                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://www.openstreetmap.org/export/embed.html?bbox=13.573093414306642%2C45.90228366418919%2C13.605408668518068%2C45.92031865572832&amp;layer=mapnik"
                            style="border: 1px solid black"></iframe>
                    <br/><small><a href="https://www.openstreetmap.org/#map=15/45.9113/13.5893&amp;layers=N">Visualizza
                    mappa ingrandita</a></small>
                </section>
            </div>
            <div class="cell large-6">
                <section>
                    <p><b>Indirizzo:</b></p>
                    <p>
                        VIA SAN MICHELE, 341<br>
                        ZONA INDUSTRIALE SANT'ANDREA<br>
                        34170 GORIZIA (GO)<br>
                    </p>
                    <p><b>Ci puoi trovare in sezione:</b></p>
                    <p>OGNI VENERDI' DALLE ORE 21:00<br>
                        DOMENICA* DALLE ORE 10:00<br>
                    </p>
                    <p>
                    <b>RIMANGONO IN VIGORE LE NORME COVID-19:
                    <a href="/news/2021-06-14-sezione-in-zona-bianca/">Leggi la news</a></b>
                    </p>
                    <p>* Le domeniche la sezione potrebbe rimanere chiusa in concomitanza di altre attività
                        (radioassistenze, contest, attivazioni etc.)
                    </p>
                </section>
            </div>
        </div>
    </article>
</main>

{{ end }}

