{{ define "main" }}
{{ if $.Params.Breadcrumb }}
{{- partial "breadcrumb.html" . -}}
{{ end }}
<main class="post">
    <header class="post__header">
        <h6 class="post__subheadline">{{ $.Params.Subheadline }}</h6>
        <h1 class="post__title">{{ .Title }}</h1>
        {{ if .Description }}
        <p class="post__subtitle">{{ .Description }}</p>
        {{ end }}
        {{ if ne .Type "page" }}
        {{ if and $.Site.Params.posts.showDate $.Site.Params.posts.showAuthor }}
        <p class="post__date date">
            {{ dateFormat $.Site.Params.posts.dateFormat .Date }} by {{ $.Params.author }}
        </p>
        {{ else if $.Site.Params.posts.showDate }}
        <p class="post__date date">{{ dateFormat $.Site.Params.posts.dateFormat .Date }}</p>
        {{ else if $.Site.Params.posts.showAuthor }}
        <p class="post__author author">by {{ $.Params.author }}</p>
        {{ end }}
        {{ end }}
        <p>
            {{ .Render "categories" }}
            {{ .Render "tags" }}
        </p>
    </header>

    <article class="post__body" style="margin-bottom: 3rem;">
        <div>
            <section style="overflow: auto">
                {{ with .Resources.ByType "image" }}
                {{ range first 1 . }}
                {{ $image := .Fit "300x300 q100" }}
                <aside>
                    <figure class="no-photoswipe" style="float: left; padding: 10px 20px;">
                        <img src="{{$image.RelPermalink}}" alt="Image">
                    </figure>
                </aside>
                {{ end }}
                {{ else }}
                {{ with .Params.Images }}
                {{ range first 1 . }}
                {{ $image := (resources.Get (print "/images/" .)).Resize "300x" }}
                <aside>
                    <figure class="no-photoswipe" style="float: left; padding: 10px 20px;">
                        <img src="{{ $.Site.BaseURL }}{{ $image.RelPermalink }}" width="300" alt="Image">
                    </figure>
                </aside>
                {{ end }}
                {{ end }}
                {{ end }}
                {{ .Content }}
            </section>
        </div>
    </article>

</main>
{{ end }}
