<nav class="hamburger-menu" aria-label="mobile-menu">
    <div class="toggle">
        <input type="checkbox" class="hamburger__toggle" id="hamburgerToggle" name="hamburger toggle"
               aria-label="Hamburguer menu">
        <label class="hamburger__toggle__icon" for="hamburgerToggle">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="hamburger__items vertical menu accordion-menu" data-accordion-menu data-multi-open="false" aria-label="mobile-menu">
            {{ $current := . }}
            {{ range .Site.Menus.main }}

            {{ if .HasChildren }}
            <li class="hamburger__items__item is-dropdown-submenu-parent">
                <a href="#" class="hamburger__items__item__link">{{ .Name }}</a>
                <ul class="menu vertical nested">
                    {{ range .Children }}
                    <li class="menu__items__item">
                        <a href="{{ .URL }}" class="hamburger__items__item__link {{ if $current.IsMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ else }}
            <li class="hamburger__items__item">
                <a href="{{ .URL }}" class="hamburger__items__item__link {{ if $current.IsMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>

<!--
        <ul class="hamburger__items vertical menu accordion-menu" data-accordion-menu aria-label="mobile-menu">
            {{ range .Site.Menus.main }}
            <li class="hamburger__items__item" aria-label="{{ .Name }}">
                <a href="{{ .URL }}" class="hamburger__items__item__link" alt="{{ .Name }}" role="menuitem">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>

        <ul class="hamburger__items vertical menu accordion-menu" data-accordion-menu>
            <li>
                <a href="#">Item 1</a>
                <ul class="menu vertical nested">
                    <li><a href="#">Item 1A</a></li>
                    <li><a href="#">Item 1B</a></li>
                </ul>
            </li>
            <li><a href="#">Item 2</a></li>
        </ul>
-->
    </div>
</nav>
